In [5]:
import pandas as pd
movie=pd.read_csv('data\movie.csv')
#must use a list when select mutiple columns
movie_actor_director=movie[['actor_1_name','actor_2_name','actor_3_name','director_name']]
movie_actor_director.head() #get all columns that contain the 'facebook'

      actor_1_name      actor_2_name          actor_3_name      director_name
0      CCH Pounder  Joel David Moore             Wes Studi      James Cameron
1      Johnny Depp     Orlando Bloom        Jack Davenport     Gore Verbinski
2  Christoph Waltz      Rory Kinnear      Stephanie Sigman         Sam Mendes
3        Tom Hardy    Christian Bale  Joseph Gordon-Levitt  Christopher Nolan
4      Doug Walker        Rob Walker                   NaN        Doug Walker

In [12]:
#Selecting columns with methods
movie_data=pd.read_csv('data\movie.csv',index_col='movie_title')
movie_data.get_dtype_counts()
#select_dtypes
movie_data.select_dtypes(include=['number']).head() #select only number columns
#filter
movie.filter(like='facebook').head() #get all columns that contains 'facebook'
movie.filter(regex='\d').head() #column name contain a digit

,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,actor_3_name,actor_2_facebook_likes
0,855.0,Joel David Moore,1000.0,CCH Pounder,Wes Studi,936.0
1,1000.0,Orlando Bloom,40000.0,Johnny Depp,Jack Davenport,5000.0
2,161.0,Rory Kinnear,11000.0,Christoph Waltz,Stephanie Sigman,393.0
3,23000.0,Christian Bale,27000.0,Tom Hardy,Joseph Gordon-Levitt,23000.0
4,NaN,Rob Walker,131.0,Doug Walker,NaN,12.0

In [21]:
# Ordering column names sensibly
movie.columns
disc_core=['movie_title', 'title_year','content_rating','genres']
disc_people=['director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name']
disc_other=['color','country','language','plot_keywords','movie_imdb_link']
cont_fb=['director_facebook_likes','actor_1_facebook_likes','actor_2_facebook_likes','actor_3_facebook_likes'\
         ,'cast_total_facebook_likes','movie_facebook_likes']
cont_finance=['budget','gross']
cont_num_reviews=['num_voted_users','num_user_for_reviews','num_critic_for_reviews']
cont_other=['imdb_score','duration','aspect_ratio','facenumber_in_poster']
new_order_column=disc_core+disc_people+disc_other+cont_fb+cont_finance+cont_num_reviews+cont_other
set(movie.columns)==set(new_order_column) #set convert list to dictionary..dicrionary has no order, so you can compare
movie2=movie[new_order_column]
movie2.head()

,movie_title,title_year,content_rating,genres,director_name,actor_1_name,actor_2_name,actor_3_name,color,country,...,movie_facebook_likes,budget,gross,num_voted_users,num_user_for_reviews,num_critic_for_reviews,imdb_score,duration,aspect_ratio,facenumber_in_poster
0,Avatar,2009.0,PG-13,Action|Adventure|Fantasy|Sci-Fi,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Color,USA,...,33000,237000000.0,760505847.0,886204,3054.0,723.0,7.9,178.0,1.78,0.0
1,Pirates of the Caribbean: At World's End,2007.0,PG-13,Action|Adventure|Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Color,USA,...,0,300000000.0,309404152.0,471220,1238.0,302.0,7.1,169.0,2.35,0.0
2,Spectre,2015.0,PG-13,Action|Adventure|Thriller,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Color,UK,...,85000,245000000.0,200074175.0,275868,994.0,602.0,6.8,148.0,2.35,1.0
3,The Dark Knight Rises,2012.0,PG-13,Action|Thriller,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Color,USA,...,164000,250000000.0,448130642.0,1144337,2701.0,813.0,8.5,164.0,2.35,0.0
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,Documentary,Doug Walker,Doug Walker,Rob Walker,NaN,NaN,NaN,...,0,NaN,NaN,8,NaN,NaN,7.1,NaN,NaN,0.0

In [29]:
#Opeating on the entire DataFrame
movie.shape
movie.size
movie.ndim #number of dimensions
len(movie)
movie.count() #non-missing value
movie.min() #skip all NaN   movie.min(skipna=False)
movie.describe().astype(int) #movie.describe(pecentiles=[.01,.3.])

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867,4901,4814,4893,4909,4054,4916,4916,4903,4895,4432,4810,4903,4916,4590,4916
mean,137,107,691,631,6494,47644514,82644,9579,1,267,36547486,2002,1621,6,2,7348
std,120,25,2832,1625,15106,67372553,138322,18164,2,372,100242679,12,4011,1,1,19206
min,1,7,0,0,0,162,5,0,0,1,218,1916,0,1,1,0
25%,49,93,7,132,607,5019656,8361,1394,0,64,6000000,1999,277,5,1,0
50%,108,103,48,366,982,25043962,33132,3049,1,153,19850000,2005,593,6,2,159
75%,191,118,189,633,11000,61108412,93772,13616,2,320,43000000,2011,912,7,2,2000
max,813,511,23000,23000,640000,760505847,1689764,656730,43,5060,-2147483648,2016,137000,9,16,349000

In [14]:
#Chaining DataFrame method together
import pandas as pd
movie=pd.read_csv('data\movie.csv')
movie.isnull().head()
movie.isnull().sum() #how many missing values per column   #movie.isnull().sum().sum()
movie.isnull().any().any() #there is at lease one column has missing value

movie.select_dtypes(['number']).\
      max().\
      astype('int')

num_critic_for_reviews              813
duration                            511
director_facebook_likes           23000
actor_3_facebook_likes            23000
actor_1_facebook_likes           640000
gross                         760505847
num_voted_users                 1689764
cast_total_facebook_likes        656730
facenumber_in_poster                 43
num_user_for_reviews               5060
budget                      -2147483648
title_year                         2016
actor_2_facebook_likes           137000
imdb_score                            9
aspect_ratio                         16
movie_facebook_likes             349000
dtype: int32

In [31]:
college=pd.read_csv('data\college.csv',index_col='INSTNM')
college_ugds=college.filter(like='UGDS_')
college_ugds.head()
college_ugds_round=(college_ugds+1).round(2) 

#Compare missing values
college_ugds.isnull().sum()

#Transposing the direction of a DataFrame operations
college_ugds.count() #equal to   college_ugds.count(axis=0) or college_ugds.count(axis='index')
college_ugds.median(axis='index')
college_ugds.count(axis='columns')
college_ugds.cumsum(axis=1)

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9686,0.9741,0.9760,0.9784,0.9803,0.9803,0.9862,1.0000
University of Alabama at Birmingham,0.5922,0.8522,0.8805,0.9323,0.9345,0.9352,0.9720,0.9899,0.9999
Amridge University,0.2990,0.7182,0.7251,0.7285,0.7285,0.7285,0.7285,0.7285,1.0000
University of Alabama in Huntsville,0.6988,0.8243,0.8625,0.9001,0.9144,0.9146,0.9318,0.9650,1.0000
Alabama State University,0.0158,0.9366,0.9487,0.9506,0.9516,0.9522,0.9620,0.9863,1.0000
The University of Alabama,0.7825,0.8944,0.9292,0.9398,0.9436,0.9445,0.9706,0.9974,1.0000
Central Alabama Community College,0.7255,0.9868,0.9912,0.9937,0.9981,0.9981,0.9981,0.9981,1.0000
Athens State University,0.7823,0.9023,0.9214,0.9267,0.9424,0.9434,0.9608,0.9665,0.9999
Auburn University at Montgomery,0.5328,0.8704,0.8778,0.8999,0.9043,0.9059,0.9356,0.9753,0.9999
Auburn University,0.8507,0.9211,0.9459,0.9686,0.9760,0.9760,0.9760,0.9860,1.0000
Birmingham Southern College,0.7983,0.9085,0.9280,0.9797,0.9899,0.9899,0.9950,0.9950,1.0001
Chattahoochee Valley Community College,0.4661,0.9033,0.9525,0.9652,0.9675,0.9710,0.9861,0.9861,1.0000
Concordia College Alabama,0.0280,0.9038,0.9411,0.9504,0.9504,0.9504,0.9535,1.0001,1.0001
South University-Montgomery,0.3046,0.9100,0.9253,0.9406,0.9559,0.9655,0.9655,0.9674,1.0000
Enterprise State Community College,0.6408,0.8843,0.9352,0.9554,0.9635,0.9664,0.9918,0.9930,0.9999
James H Faulkner State Community College,0.6979,0.9238,0.9558,0.9642,0.9819,0.9833,0.9985,0.9992,1.0001
Faulkner University,0.3874,0.9011,0.9269,0.9311,0.9374,0.9387,0.9560,0.9742,1.0000
Gadsden State Community College,0.6921,0.8997,0.9302,0.9349,0.9477,0.9495,0.9680,0.9830,0.9999
New Beginning College of Cosmetology,0.8957,0.9305,1.0001,1.0001,1.0001,1.0001,1.0001,1.0001,1.0001
George C Wallace State Community College-Dothan,0.6273,0.9513,0.9734,0.9806,0.9855,0.9864,0.9990,0.9990,0.9999
George C Wallace State Community College-Hanceville,0.8630,0.9242,0.9604,0.9669,0.9758,0.9758,0.9758,0.9817,1.0000
George C Wallace State Community College-Selma,0.1956,0.9405,0.9431,0.9471,0.9484,0.9484,0.9517,0.9557,1.0000
Herzing University-Birmingham,0.3543,0.8808,0.8974,0.9040,0.9040,0.9040,0.9603,0.9603,1.0000
Huntingdon College,0.6388,0.8381,0.8633,0.8711,0.8833,0.8850,0.9111,0.9172,0.9999
Heritage Christian University,0.7419,0.8548,0.9032,0.9032,0.9355,0.9516,0.9516,0.9677,1.0000
J F Drake State Community and Technical College,0.3337,0.9302,0.9548,0.9630,0.9743,0.9753,0.9938,0.9938,1.0000
Jacksonville State University,0.6834,0.9216,0.9348,0.9403,0.9475,0.9485,0.9485,0.9719,0.9999
Jefferson Davis Community College,0.5857,0.8839,0.8916,0.9168,0.9420,0.9420,0.9604,0.9604,1.0001
Jefferson State Community College,0.6696,0.8942,0.9428,0.9611,0.9635,0.9643,0.9944,0.9998,0.9999
John C Calhoun State Community College,0.6528,0.8468,0.8903,0.9160,0.9342,0.9348,0.9776,0.9838,1.0000
...,...,...,...,...,...,...,...,...,...
Strayer University-Lawrenceville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Piscataway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Utah County Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L'esprit Academy - Royal Oak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National Career Institute - Jersey City Branch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Cobb Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Morrow Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Roswell Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Douglasville Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Lithonia Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Savannah Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Augusta Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Columbus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Columbia Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Charleston Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Irving,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Katy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Northwest Houston,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Plano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Cedar Hill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-North Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-San Antonio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Stafford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WestMed College - Merced,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vantage College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SAE Institute of Technology San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rasmussen College - Overland Park,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National Personal Training Institute of Cleveland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bay Area Medical Academy - San Jose Satellite Location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Excel Learning Center-San Antonio South,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
#Determining college campus diversity
college_ugds.isnull()\
            .sum(axis=1)\
            .sort_values(ascending=False)
college_ugsd_new=college_ugds.dropna(how='all')
college_ugsd_new
college_ugsd_new.ge(.15).sum(axis=1).sort_values(ascending=False) #test all values >=0.15, and sum by row for those boolean value
college_ugds.loc[['Regency Beauty Institute-Austin','Central Texas Beauty College-Temple']]
(college_ugsd_new>0.001).all(axis=1).any()          #retrun to true if all are true, then return to true if any is ture

True