In [20]:
import pandas as pd
import numpy as np
college=pd.read_csv('data/college.csv',index_col='INSTNM')
city=college['CITY']
city.iloc[3]
city.iloc[[0,4,6]]
city.iloc[0:20:2] #from 0 to 20, step is 2

city.loc['Alabama A & M University']

#use a list
np.random.seed(1)
Label=list(np.random.choice(city.index,4))
Label

city.loc[Label]

INSTNM
Northwest HVAC/R Training Center                Spokane
California State University-Dominguez Hills      Carson
Lower Columbia College                         Longview
Southwest Acupuncture College-Boulder           Boulder
Name: CITY, dtype: object

In [12]:
#Select DataFrame rows
import pandas as pd
import numpy as np
college=pd.read_csv('data/college.csv',index_col='INSTNM')
college.iloc[60] #select row 60
college.loc['University of Alaska Anchorage'] #get the same row using loc

college.iloc[[60,99,3]] #select different rows

Mylist=['University of Alaska Anchorage','International Academy of Hair Design']
college.loc[Mylist]  #use list by loc to select rows

college.iloc[10:30] #use slice notation with .iloc
college.loc['International Academy of Hair Design':'Mesa Community College']

college.iloc[[60,99,3]].index.tolist()

['University of Alaska Anchorage',
 'International Academy of Hair Design',
 'University of Alabama in Huntsville']

In [25]:
#Select DataFrame rows and columns simultaneously
#df.iloc[rows,columns]  df.loc[rows,columns]
college.iloc[:3,:4]
college.loc[:'Amridge University',:'MENONLY']

#select tow diffenret columns
college.iloc[:,[3,5]].head()
college.loc[:,['MENONLY','RELAFFIL']].head()

#select disjoined rows and columns
college.iloc[[100,200],[7,15]]

college.loc[['GateWay Community College','American Baptist Seminary of the West'],['SATMTMID','UGDS_NHPI']]

college.iloc[:10] #rows 1 to 10 with all columns
college.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7535 entries, Alabama A & M University to Excel Learning Center-San Antonio South
Data columns (total 26 columns):
CITY                  7535 non-null object
STABBR                7535 non-null object
HBCU                  7164 non-null float64
MENONLY               7164 non-null float64
WOMENONLY             7164 non-null float64
RELAFFIL              7535 non-null int64
SATVRMID              1185 non-null float64
SATMTMID              1196 non-null float64
DISTANCEONLY          7164 non-null float64
UGDS                  6874 non-null float64
UGDS_WHITE            6874 non-null float64
UGDS_BLACK            6874 non-null float64
UGDS_HISP             6874 non-null float64
UGDS_ASIAN            6874 non-null float64
UGDS_AIAN             6874 non-null float64
UGDS_NHPI             6874 non-null float64
UGDS_2MOR             6874 non-null float64
UGDS_NRA              6874 non-null float64
UGDS_UNKN             6874 non-null float64
PPTUG_EF              6853 non-null float64
CURROPER              7535 non-null int64
PCTPELL               6849 non-null float64
PCTFLOAN              6849 non-null float64
UG25ABV               6718 non-null float64
MD_EARN_WNE_P10       6413 non-null object
GRAD_DEBT_MDN_SUPP    7503 non-null object
dtypes: float64(20), int64(2), object(4)
memory usage: 1.9+ MB

In [32]:
#Selecting data with both integers and labels
#Use index method get_loc to find the integer position of the desired columns:
col_start=college.columns.get_loc('UGDS_WHITE')
col_end=college.columns.get_loc('UGDS_UNKN')+1
college.iloc[:5,col_start:col_end]

row_start=college.index[10]
row_end=college.index[20]
college.loc[row_start:row_end,'UGDS_WHITE':'UGDS_UNKN']
college.iloc[10:16].loc[:,'UGDS_WHITE':'UGDS_UNKN']

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Birmingham Southern College,0.7983,0.1102,0.0195,0.0517,0.0102,0.0000,0.0051,0.0000,0.0051
Chattahoochee Valley Community College,0.4661,0.4372,0.0492,0.0127,0.0023,0.0035,0.0151,0.0000,0.0139
Concordia College Alabama,0.0280,0.8758,0.0373,0.0093,0.0000,0.0000,0.0031,0.0466,0.0000
South University-Montgomery,0.3046,0.6054,0.0153,0.0153,0.0153,0.0096,0.0000,0.0019,0.0326
Enterprise State Community College,0.6408,0.2435,0.0509,0.0202,0.0081,0.0029,0.0254,0.0012,0.0069
James H Faulkner State Community College,0.6979,0.2259,0.0320,0.0084,0.0177,0.0014,0.0152,0.0007,0.0009

In [42]:
#Speeding up scalar selection
college.loc['Birmingham Southern College','UGDS_WHITE']
college.at['Birmingham Southern College','UGDS_WHITE']  #they are same
%timeit college.loc['Birmingham Southern College','UGDS_WHITE']
%timeit college.at['Birmingham Southern College','UGDS_WHITE']  #test how long will it takes

row_num=college.index.get_loc('Birmingham Southern College')
col_num=college.columns.get_loc('UGDS_WHITE')
%timeit college.iloc[row_num,col_num]
%timeit college.iat[row_num,col_num]

6.33 µs ± 19.7 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
4.09 µs ± 12.3 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
7.23 µs ± 83.1 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
4.64 µs ± 33.7 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [47]:
#Slicing rows lazily
city=college['CITY']
city[10:20:2]
city['Alabama A & M University':'New Beginning College of Cosmetology':2]

INSTNM
Alabama A & M University                        Normal
Amridge University                          Montgomery
Alabama State University                    Montgomery
Central Alabama Community College       Alexander City
Auburn University at Montgomery             Montgomery
Birmingham Southern College                 Birmingham
Concordia College Alabama                        Selma
Enterprise State Community College          Enterprise
Faulkner University                         Montgomery
New Beginning College of Cosmetology       Albertville
Name: CITY, dtype: object